# list of stages
stages:
    - build
    - test

# name of docker image to be used
image: gcc

before_script:
  - sudo apt-get --quiet update --yes
  - apt-get --quiet install --yes wget cmake

# stage 
build:
    # type
    stage: build
    # definition
    script:
    - cmake --version

#stage
test_format:
    #type
    stage: test

    # definition
    script:
    - apt update 
    - apt-get -y install clang-format
    - cd test
    - bash check_clang_format.sh

