# name of docker image to be used
image: partons/partons:latest

# list of stages
stages:
    - build_elementary-utils
    - say_hi

# stage 
build_elementary-utils:

    # stage
    stage: build_elementary-utils

    # definition
    script:
    - cat /etc/gitlab/config.toml
    - git clone https://drf-gitlab.cea.fr/partons/core/elementary-utils.git
    - cd elementary-utils/build
    - cmake ..
    - make

# stage 
say_hi:

    # stage
    stage: say_hi

    # definition
    script:
    - echo "Hi!"