# list of stages
stages:
    - build
    - test

# name of docker image to be used
image: gcc

# stage 
build:
    # type
    stage: build
    # definition
    script:
    - apt update 
    - apt-get -y install cmake

#stage
test_format:
    #type
    stage: test

    # definition
    script:
    - apt update 
    - apt-get -y install clang-format
    - cd test
    - bash check_clang_format.sh

# stage
test_concept:

    # type
    stage: test

    # definition
    script:
    - test -f testFile
