# list of stages
stages:
    - build_elementary-utils
    - say_hi

# stage 
build_elementary-utils:

    # stage
    stage: build_elementary-utils
    image: python:3.8-slim
    # definition
    script:
    - cat /etc/gitlab/config.toml
    - cat  ~/.streamlit/config.toml
    - ls
    - ls /etc/
    - ls /etc/gitlab
    - ls ~
    - git clone https://drf-gitlab.cea.fr/partons/core/elementary-utils.git
    - cd elementary-utils/build
    - cmake ..
    - make

# stage 
say_hi:

    # stage
    stage: say_hi

    # definition
    script:
    - echo "Hi!"