<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    {% include head-custom.html %}

  </head>
  <body>

    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

    <div class="wrapper">
      <header>
         
        <img src="{{site.logo | relative_url}}" alt="Logo" style="max-width: 50%;" />

	<br>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view">This page:<br>
          <a href="index.html">about</a><br>
          <a href="instalation.html">instalation</a><br>
          <a href="usage.html">usage</a><br>
          <a href="license.html">license</a><br>
          <a href="acknowledgements.html">acknowledgements</a><br>
          <a href="contact.html">contact</a><br>
        </p>

        <p class="view">View GitHub repository:<br>
          <a href="https://github.com/3d-partons">link</a>
        </p>

        <p class="view">View Docker repository:<br>
          <a href="https://hub.docker.com/repository/docker/partons/partons/general">link</a>
        </p>

        <p class="view">View reference article:<br>
          <a href="https://doi.org/10.1140/epjc/s10052-018-5948-0">doi</a>&nbsp;&nbsp;
          <a href="https://arxiv.org/abs/1512.06174">arXiv</a>&nbsp;&nbsp; 
          <a href="https://inspirehep.net/literature/1410825">inspire</a> 
        </p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>
          Hosted on GitHub Pages<br>
          Theme based on <a href="https://github.com/orderedlist/minimal">minimal</a><br>
          {{ "now" | date: "%Y-%m-%d %H:%M %Z" }}
          <!-- May 5th, 2022 -->
          </small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
